@import "variables";

@media screen and (min-width: 900px) {
  body {
    background-color: beige;
  }
  header {
    background-color: $dark-color;
    color: $white-color;
    .top-section {
      display: flex;
      justify-content: flex-start;
      min-height: 144px;
      min-width: 200px;
      width: 100%;

      .esc-logo {
        width: 128px;
        height: 82px;
        margin: 20px 20px;
      }

      h1 {
        width: 78px;
        height: 84px;
        font-weight: 700;
        font-size: 40px;
        margin-top: 60px;
        white-space: nowrap;
      }
    }
    nav {
      display: flex;
      justify-content: center;
      align-items: center;

      ul {
        padding: 20px 114px;
        white-space: nowrap;
        font-size: 24px;
      }
    }
  }

  .hacker-image {
    width: 100%;
    height: auto;
  }
  /* needs space beetween */
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-top: -38px;

    .on-site-btn {
      @include lightblue-button;
    }
    .online-btn {
      @include red-button;
    }
  }
  .review-boxes {
    display: flex;
    padding: 0 110px;

    .review {
      display: flex;
      margin-top: 80px;
      padding: 0 15px;

      figure img {
        padding-right: 15px;
      }
      .review-text {
        font-weight: 400;
        font-size: 24px;
        font-style: italic;
        width: 80%;

        .review-info {
          margin-top: 8px;
          font-style: normal;
          font-size: 18px;
        }
      }
    }
  }

  section {
    h1 {
      font-weight: 400;
      font-size: 36px;
      margin-top: 108px;
      text-align: center;
    }
    .challanges-section {
      display: flex;
      margin-top: 40px;

      .challanges {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        min-width: 363px;
        min-height: 446px;
        margin: 40px 0 7px 40px;

        .challanger-box-image img {
          width: 100%;
          min-width: 363px;

          height: auto;
          border-radius: 8px 8px 0 0;
        }
        .rating {
          padding: 0 18px;
        }

        .rating p:first-child {
          font-size: 28px;
          margin-top: 12px;
        }
        .rating-stars-text {
          display: flex;

          img {
            width: 15px;
            height: 15px;
            margin: 0 5px;
          }
          p {
            font-size: 14px;
          }
        }
        .challange-info {
          margin-top: 23px;
          font-size: 18px;
        }
        /* book this room button needs to be placed corecctly */
        .book-room {
          width: 180px;
          height: 44px;
          font-size: 16px;
          font-weight: 700;
          color: $white-color;
          background-color: $red-color;
          border: none;
          border-radius: 4px;
          margin-top: 30px;
          margin-bottom: 16px;
        }
      }
    }
    #buttons-second {
      margin: 87px 0;
    }

    .story-container {
      background-color: $dark-color;
      color: $white-color;
      height: 500px;
      margin-top: 56px;
      display: flex;
      text-align: center;
      flex-direction: column;

      p {
        font-weight: 400;
        font-size: 28px;
        width: 602px;
        margin: 95px auto;
      }
      button {
        color: $lightblue-color;
        background-color: $dark-color;
        border: $lightblue-color solid 2px;
        width: 308px;
        margin: 0 auto;
        height: 66px;
        font-weight: 700;
        font-size: 24px;
      }
    }
  }
  .computer-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    img {
      width: 100%;
      height: auto;
      max-height: 460px;
    }

    .computer-text-section {
      margin: 30px 100px;

      h2 {
        font-weight: 700;
        font-size: 32px;
      }
      h3 {
        margin-top: 22px;
        font-weight: 400;
        font-size: 24px;
      }
      button {
        @include red-button;
        margin: 60px 0 30px;
      }
    }
  }

  footer {
    background-color: $dark-color;
    color: $white-color;
    padding: 64px 22px;
    .footer-text {
      p {
        margin-top: 7px;
      }
    }
    .footer-links {
      padding-top: 40px;
      p {
        margin-top: 7px;
      }
    }
  }
}
