* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.top-section {
  background-color: #011827;
  display: flex;
  width: 900px;
  height: 144px;
}
.top-section .esc-logo {
  width: 128px;
  height: 82px;
  margin: 26px 0 36px 27px;
}
.top-section h2 {
  margin-left: 13px;
  margin-top: 25px;
  width: 78px;
  height: 84px;
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hacker-image {
  min-width: 492px;
  height: auto;
}

.buttons {
  margin: 37px 0 0 90px;
  display: flex;
  flex-direction: column;
}
.buttons .on-site-btn {
  background-color: #8acfe5;
  border-radius: 4px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  padding: 19px 52px;
  min-width: 308px;
  max-width: 308px;
}
.buttons .online-btn {
  margin: 30px 0 0 80px;
  white-space: nowrap;
  width: 129px;
  height: 20px;
  color: #36769d;
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 16px;
  text-decoration: underline;
}

.review {
  display: flex;
  margin: 0 20px;
  height: 139px;
  margin-top: 20px;
}
.review figure img {
  width: 73px;
  height: auto;
}
.review p {
  width: 300px;
  margin-left: 20px;
  font-weight: 400;
  font-size: 24px;
  font-style: italic;
}
.review .review-info {
  font-style: normal;
  font-size: 18px;
  white-space: nowrap;
  margin-top: 7px;
}

section {
  margin-top: 105px;
}
section h1 {
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  white-space: nowrap;
  margin-left: 20px;
  font-style: normal;
  margin-bottom: 30px;
  max-width: 440px;
}
section .challanges-section {
  display: flex;
  overflow: scroll;
}
section .challanges-section .challanges {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  min-width: 363px;
  min-height: 446px;
  margin-left: 50px;
}
section .challanges-section .challanges .challanger-box-image img {
  width: 100%;
  min-width: 363px;
  height: auto;
  border-radius: 8px 8px 0 0;
}
section .challanges-section .challanges .rating {
  padding: 0 18px;
}
section .challanges-section .challanges .rating p:first-child {
  font-size: 28px;
  margin-top: 12px;
}
section .challanges-section .challanges .rating-stars-text {
  display: flex;
}
section .challanges-section .challanges .rating-stars-text img {
  width: 15px;
  height: 15px;
  margin: 0 5px;
}
section .challanges-section .challanges .rating-stars-text p {
  font-size: 14px;
}
section .challanges-section .challanges .challange-info {
  margin-top: 23px;
  font-size: 18px;
}
section .challanges-section .challanges .book-room {
  width: 180px;
  height: 44px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #e3170a;
  border: none;
  border-radius: 4px;
  margin: 30px 0 0 148px;
}
section .story-container {
  width: 480px;
  height: 500px;
  background-color: #011827;
  color: #ffffff;
  margin-top: 56px;
  display: flex;
  text-align: center;
  flex-direction: column;
}
section .story-container p {
  margin: 95px 0 10px;
  font-weight: 400;
  font-size: 28px;
}
section .story-container button {
  color: #8acfe5;
  background-color: #011827;
  border: #8acfe5 solid 2px;
  padding: 19px 55px;
  width: 308px;
  height: 66px;
  font-weight: 700;
  font-size: 24px;
  align-items: center;
}/*# sourceMappingURL=styles.css.map */