* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

header {
  background-color: #011827;
  color: #ffffff;
}
header .top-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 144px;
  min-width: 200px;
  width: 100%;
}
header .top-section .esc-logo {
  width: 128px;
  height: 82px;
  margin-left: 20px;
}
header .top-section h2 {
  margin-left: 13px;
  width: 78px;
  height: 84px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul {
  display: none;
  margin: 0 30px;
}

.hacker-image {
  width: 100%;
  height: auto;
}

.buttons {
  margin-top: 37px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.buttons .on-site-btn {
  background-color: #8acfe5;
  border-radius: 4px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  width: 308px;
  padding: 19px 40px;
}
.buttons .online-btn {
  color: #36769d;
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 16px;
  text-decoration: underline;
  margin-top: 30px;
}

.review {
  display: flex;
  margin-top: 80px;
  padding: 0 15px;
}
.review figure img {
  padding-right: 15px;
}
.review .review-text {
  font-weight: 400;
  font-size: 24px;
  font-style: italic;
  width: 80%;
}
.review .review-text .review-info {
  margin-top: 8px;
  font-style: normal;
  font-size: 18px;
}

section h1 {
  font-weight: 400;
  font-size: 36px;
  margin-top: 105px;
  text-align: center;
}
section .challanges-section {
  display: flex;
  overflow: scroll;
}
section .challanges-section .challanges {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  min-width: 363px;
  min-height: 446px;
  margin: 40px 0 7px 40px;
}
section .challanges-section .challanges .challanger-box-image img {
  width: 100%;
  min-width: 363px;
  height: auto;
  border-radius: 8px 8px 0 0;
}
section .challanges-section .challanges .rating {
  padding: 0 18px;
}
section .challanges-section .challanges .rating p:first-child {
  font-size: 28px;
  margin-top: 12px;
}
section .challanges-section .challanges .rating-stars-text {
  display: flex;
}
section .challanges-section .challanges .rating-stars-text img {
  width: 15px;
  height: 15px;
  margin: 0 5px;
}
section .challanges-section .challanges .rating-stars-text p {
  font-size: 14px;
}
section .challanges-section .challanges .challange-info {
  margin-top: 23px;
  font-size: 18px;
}
section .challanges-section .challanges .book-room {
  width: 180px;
  height: 44px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #e3170a;
  border: none;
  border-radius: 4px;
  margin: 30px 0 0 148px;
}
section .story-container {
  background-color: #011827;
  color: #ffffff;
  height: 500px;
  margin-top: 56px;
  display: flex;
  text-align: center;
  flex-direction: column;
}
section .story-container p {
  font-weight: 400;
  font-size: 28px;
  margin: 95px 0 60px;
}
section .story-container button {
  color: #8acfe5;
  background-color: #011827;
  border: #8acfe5 solid 2px;
  width: 308px;
  margin: 0 auto;
  height: 66px;
  font-weight: 700;
  font-size: 24px;
}

.computer-block img {
  width: 100%;
  height: auto;
}

.computer-text-section {
  padding: 30px;
}
.computer-text-section h2 {
  font-weight: 700;
  font-size: 32px;
}
.computer-text-section h3 {
  margin-top: 22px;
  font-weight: 400;
  font-size: 24px;
}
.computer-text-section button {
  background-color: #e3170a;
  color: #ffffff;
  border: none;
  width: 308px;
  height: 66px;
  font-weight: 700;
  font-size: 24px;
  margin: 60px 0 30px;
}

footer {
  background-color: #011827;
  color: #ffffff;
  padding: 64px 22px;
}
footer .footer-text p {
  margin-top: 7px;
}
footer .footer-links {
  padding-top: 40px;
}
footer .footer-links p {
  margin-top: 7px;
}/*# sourceMappingURL=styles.css.map */